@import './vairables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

/*╨₧╨▒╨╜╤â╨╗╨╡╨╜╨╕╨╡*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
  font-family: 'Inter', serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: $main-clr;
	color: $second-clr;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	max-width: 754px;
	padding: 0 1rem;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.fs {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	& > *{
		flex: 1 1 auto;
	}
}

@media screen and (max-width: 714px) {
	html, body {
		font-size: 16px;
	}
}
@media screen and (max-width: 500px) {
	html, body {
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	html, body {
		font-size: 12px;
	}
}
@media screen and (max-width: 351px) {
	html, body {
		font-size: 10px;
	}
}